{% extends "template.html" %}
{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnNext").jqxButton({ width: '100' }).bind('click', function () {
                $("#form").submit();
            });
        });
    </script>
{% endblock %}

{% block content %}

<form id="form" action="{{ url_for('submit') }}" method="post">
    <div class="question">
        <div class="padding">
			<b>Instructions</b>
			<ul>
				<li>This  HIT takes approximately XXX minutes and pays $XXX.</li>
				<li>It is required that you use either Firefox or Chrome to complete this task.</li>
				<li>WebGL is used to complete tasks in your web browser. If you have an old or slower computer than these tasks may run slowly.</li>
			</ul>
        </div>
    </div>
	
	<div class="navigation padding">
		<div style="float: right">
			<input id="btnNext" type="button" value="Continue">
		</div>
		<div style="clear: both"></div>
	</div>
</form>
<br>

{% endblock %}